TD {
	FONT-FAMILY: "Arial", "Helvetica", Sans-serif
}
PRE.SourceCode2 {
	BORDER-RIGHT: silver outset; BORDER-TOP: silver outset; BORDER-LEFT: silver outset; BORDER-BOTTOM: silver outset; WHITE-SPACE: pre; BACKGROUND-COLOR: #e0ffff
}
PRE.SourceCode EM {
	COLOR: #9933cc; FONT-STYLE: normal; WHITE-SPACE: pre
}
PRE.SourceCode {
	BORDER-RIGHT: silver outset; PADDING-RIGHT: 20px; BORDER-TOP: silver outset; PADDING-LEFT: 20px; PADDING-BOTTOM: 5px; MARGIN-LEFT: 20px; BORDER-LEFT: silver outset; MARGIN-RIGHT: 20px; PADDING-TOP: 5px; BORDER-BOTTOM: silver outset; FONT-FAMILY: "Courier", monospace; WHITE-SPACE: pre; BACKGROUND-COLOR: white
}
P.chatuser {
	FONT-WEIGHT: bold; VERTICAL-ALIGN: top; COLOR: #3366cc
}
P.chatquestionpresented {
	FONT-WEIGHT: bold; VERTICAL-ALIGN: top; BACKGROUND-COLOR: #dddddd
}
P.chatpublicmsg {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; FONT-WEIGHT: normal; PADDING-BOTTOM: 20px; VERTICAL-ALIGN: top; PADDING-TOP: 0px
}
P.chateditor {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; PADDING-BOTTOM: 10px; COLOR: red; PADDING-TOP: 0px
}
P.chataction {
	VERTICAL-ALIGN: top; FONT-STYLE: italic
}
P.TechNote {
	BORDER-RIGHT: silver outset; PADDING-RIGHT: 5px; BORDER-TOP: silver outset; PADDING-LEFT: 5px; FONT-WEIGHT: normal; PADDING-BOTTOM: 2px; BORDER-LEFT: silver outset; PADDING-TOP: 2px; BORDER-BOTTOM: silver outset; BACKGROUND-COLOR: #e0ffff
}
H3 {
	FONT-WEIGHT: bold; FONT-SIZE: 11pt; COLOR: #000000; FONT-FAMILY: "Arial", "Helvetica", Sans-serif; TEXT-DECORATION: none
}
H2 {
	FONT-WEIGHT: bold; FONT-SIZE: 14pt; COLOR: #000000; FONT-FAMILY: "Arial", "Helvetica", Sans-serif; TEXT-DECORATION: none
}
H1 {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; FONT-WEIGHT: bold; FONT-SIZE: 18pt; PADDING-BOTTOM: 0px; COLOR: #000000; LINE-HEIGHT: 18pt; PADDING-TOP: 10px; FONT-FAMILY: "Arial", "Helvetica", Sans-serif; TEXT-DECORATION: none
}
BODY {
	FONT-SIZE: 14px; BACKGROUND: #ffffff; MARGIN-LEFT: 20px; COLOR: #000000; MARGIN-RIGHT: 20px; FONT-FAMILY: arial, helvetica, sans-serif; TEXT-DECORATION: none
}
B.Help {
	COLOR: white; BACKGROUND-COLOR: gray
}
A:hover {
	COLOR: #cc3300
}
.webDirectoryLink {
	FONT-SIZE: 0.8em; COLOR: #3366cc; FONT-FAMILY: "Arial", "Helvetica", Sans-serif; TEXT-DECORATION: underline
}
.webDirectoryCategoryLink {
	FONT-SIZE: 0.8em; COLOR: #000000; FONT-FAMILY: "Arial", "Helvetica", Sans-serif; TEXT-DECORATION: none
}
.webDirectoryCatHead {
	FONT-SIZE: 0.9em; COLOR: #ffffff; FONT-FAMILY: "Arial", "Helvetica", Sans-serif; TEXT-DECORATION: none
}
.vspace5 {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; PADDING-BOTTOM: 0px; PADDING-TOP: 5px
}
.visibility {
	FONT-WEIGHT: bold; FONT-SIZE: 0.8em; COLOR: #ff0000; FONT-FAMILY: "Arial", "Helvetica", Sans-serif; TEXT-DECORATION: none
}
.tuser {
	COLOR: blue; BACKGROUND-COLOR: white
}
.ttitle {
	FONT-WEIGHT: bold; COLOR: black; BACKGROUND-COLOR: #dddddd
}
.tthis {
	FONT-WEIGHT: bold; VERTICAL-ALIGN: top; COLOR: white; LINE-HEIGHT: 1; BACKGROUND-COLOR: red
}
.tother {
	FONT-WEIGHT: bold; VERTICAL-ALIGN: top; COLOR: white; LINE-HEIGHT: 1; BACKGROUND-COLOR: blue
}
.tmine {
	FONT-WEIGHT: bold; COLOR: black; BACKGROUND-COLOR: #c71585
}
.title3 {
	FONT-WEIGHT: bold; FONT-SIZE: 12pt; COLOR: #000000; FONT-FAMILY: "Arial", "Helvetica", Sans-serif; TEXT-DECORATION: none
}
.thi {
	BACKGROUND-COLOR: #dddddd
}
.textAdLink {
	FONT-WEIGHT: bold; COLOR: #ffffff; TEXT-DECORATION: none
}
.textAdCell {
	FONT-SIZE: 0.8em
}
.searchCell {
	FONT-WEIGHT: bold; FONT-SIZE: 11px
}
.rightSidebarLink {
	COLOR: #000000; TEXT-DECORATION: none
}
.rightSidebarHeading {
	FONT-WEIGHT: bold; FONT-SIZE: 10pt; BACKGROUND: #3366cc; COLOR: #ffffff
}
.rightSidebarCell {
	FONT-WEIGHT: bold; FONT-SIZE: 10pt; BACKGROUND: #dddddd; COLOR: #000000
}
.presentLocation {
	FONT-WEIGHT: bold; COLOR: #000000; TEXT-DECORATION: none
}
.logoCell {
	BACKGROUND: #000000
}
.logoBar {
	BACKGROUND: #000000
}
.loginLinkCell {
	FONT-WEIGHT: bold; FONT-SIZE: 0.8em; BACKGROUND: #3366cc
}
.loginLink {
	COLOR: #ffffff; TEXT-DECORATION: none
}
.loginStd {
	TEXT-ALIGN: right
}
.loginReq {
	FONT-WEIGHT: bold; COLOR: blue; TEXT-ALIGN: right
}
.login_std {
	TEXT-ALIGN: right
}
.login_req {
	FONT-WEIGHT: bold; COLOR: blue; TEXT-ALIGN: right
}
.locationLink {
	COLOR: #000000; TEXT-DECORATION: underline
}
.localLinkCell {
	FONT-SIZE: 9pt; BACKGROUND: #3366cc; COLOR: #ffffff
}
.localLink {
	FONT-WEIGHT: bold; COLOR: #ffffff; TEXT-DECORATION: none
}
.leftSidebarText {
	FONT-WEIGHT: normal; FONT-SIZE: 9pt; COLOR: #000000
}
.leftSidebarSoapboxLink {
	FONT-WEIGHT: normal; FONT-SIZE: 10pt; COLOR: #0000cc; FONT-STYLE: italic; TEXT-DECORATION: none
}
.leftSidebarSoapboxLink:hover {
	FONT-WEIGHT: normal; FONT-SIZE: 10pt; COLOR: #6666cc; FONT-STYLE: italic; TEXT-DECORATION: none
}
.leftSidebarHeading {
	FONT-WEIGHT: bold; FONT-SIZE: 12pt; COLOR: #3366cc
}
.leftSidebarCell {
	FONT-SIZE: 0.8em; BACKGROUND: #dddddd
}
.heading3 {
	FONT-WEIGHT: bold; FONT-SIZE: 11pt; VERTICAL-ALIGN: baseline; COLOR: #000000; FONT-FAMILY: "Arial", "Helvetica", Sans-serif; TEXT-DECORATION: none
}
.heading2 {
	FONT-WEIGHT: bold; FONT-SIZE: 14pt; COLOR: #000000; FONT-FAMILY: "Arial", "Helvetica", Sans-serif; TEXT-DECORATION: none
}
.heading1 {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; FONT-WEIGHT: bold; FONT-SIZE: 18pt; PADDING-BOTTOM: 0px; COLOR: #000000; PADDING-TOP: 10px; FONT-FAMILY: "Arial", "Helvetica", Sans-serif; TEXT-DECORATION: none
}
.globalNavBar {
	BACKGROUND: #dddddd
}
.globalLinkCell {
	FONT-SIZE: 0.8em; BACKGROUND: #dddddd
}
.globalLink {
	FONT-WEIGHT: bold; COLOR: #000000; TEXT-DECORATION: none
}
.fineprint {
	FONT-WEIGHT: normal; FONT-SIZE: 8pt; COLOR: #000000; FONT-FAMILY: "Arial", "Helvetica", Sans-serif; TEXT-DECORATION: none
}
.directoryStuff {
	FONT-SIZE: 0.8em; COLOR: #000000; FONT-FAMILY: "Arial", "Helvetica", Sans-serif
}
.directoryLink {
	FONT-SIZE: 9pt; COLOR: #000000; FONT-FAMILY: "Arial", "Helvetica", Sans-serif; TEXT-DECORATION: none
}
.directoryCategory {
	FONT-SIZE: 10pt; COLOR: #000000; FONT-FAMILY: "Arial", "Helvetica", Sans-serif; TEXT-DECORATION: underline
}
.date3 {
	FONT-WEIGHT: normal; FONT-SIZE: 9pt; VERTICAL-ALIGN: baseline; COLOR: #000000; FONT-FAMILY: "Arial", "Helvetica", Sans-serif; TEXT-DECORATION: none
}
.copyrightLink {
	COLOR: #000000; TEXT-DECORATION: none
}
.copyrightCell {
	FONT-SIZE: 7pt; BACKGROUND: #dddddd
}
.contentshortDescription {
	FONT-WEIGHT: normal; FONT-SIZE: 9pt; COLOR: #000000
}
.contentTableCell {
	FONT-SIZE: 0.8em; BACKGROUND: #ffffff
}
.contentTable {
	BACKGROUND: #ffffff
}
.contentStoryLink {
	COLOR: #3366cc
}
.contentStoryHeadingCell {
	BACKGROUND: #dddddd
}
.contentStoryHeading {
	FONT-WEIGHT: normal; FONT-SIZE: 11pt; COLOR: #000000; TEXT-DECORATION: none
}
.contentStoryByline {
	FONT-WEIGHT: normal; FONT-SIZE: 11pt; COLOR: #000000; FONT-STYLE: italic
}
.contentSectionHeading {
	FONT-WEIGHT: bold; FONT-SIZE: 12pt; COLOR: #000000; TEXT-DECORATION: none
}
.contentRule {
	BACKGROUND: #3366cc
}
.contentMoreLink {
	FONT-WEIGHT: bold; COLOR: #3366cc
}
.contentHat {
	FONT-WEIGHT: bold; FONT-SIZE: 10pt; COLOR: #000000; TEXT-DECORATION: none
}
.contentDevNewsStoryHeading {
	FONT-WEIGHT: normal; FONT-SIZE: 10pt; COLOR: #000000; FONT-FAMILY: "Arial", "Helvetica", Sans-serif; TEXT-DECORATION: none
}
.contentArticleTypeIndex {
	FONT-SIZE: 0.7em; COLOR: #3366cc
}
.body3 {
	FONT-WEIGHT: normal; FONT-SIZE: 11pt; COLOR: #000000; FONT-FAMILY: "Arial", "Helvetica", Sans-serif; TEXT-DECORATION: none
}
blb {
	FONT-WEIGHT: normal; FONT-SIZE: 11pt; COLOR: #000000; FONT-FAMILY: "Arial", "Helvetica", Sans-serif; TEXT-DECORATION: none
}
bottomlink {
	FONT-WEIGHT: normal; FONT-SIZE: 11pt; COLOR: #000000; FONT-FAMILY: "Arial", "Helvetica", Sans-serif; TEXT-DECORATION: none
}
.blueHeading2 {
	FONT-WEIGHT: bold; FONT-SIZE: 12pt; COLOR: #003399; FONT-FAMILY: "Arial", "Helvetica", Sans-serif; TEXT-DECORATION: none
}
.bigBlue {
	FONT-WEIGHT: bold; FONT-SIZE: 14pt; COLOR: #013399; TEXT-DECORATION: none
}
.bigRed {
	FONT-WEIGHT: normal; FONT-SIZE: 18pt; COLOR: #ff0000; TEXT-DECORATION: none
}
.abstract {
	PADDING-RIGHT: 10px; PADDING-LEFT: 10px; PADDING-BOTTOM: 10px; PADDING-TOP: 10px; FONT-STYLE: italic
}
.whiteLink {
	FONT-SIZE: 10pt; COLOR: #ffffff; TEXT-DECORATION: none
}
.whiteLinkB {
	FONT-WEIGHT: bold; FONT-SIZE: 10pt; COLOR: #ffffff; TEXT-DECORATION: none
}
.whiteLinkSmall {
	FONT-SIZE: 9pt; COLOR: #ffffff; TEXT-DECORATION: none
}
.yellowLinkSmall {
	FONT-WEIGHT: bold; FONT-SIZE: 9pt; COLOR: #ffdf00; TEXT-DECORATION: none
}
.whiteLinkVerySmall {
	FONT-SIZE: 8pt; COLOR: #ffffff; TEXT-DECORATION: none
}
.newBody {
	FONT-WEIGHT: normal; FONT-SIZE: 9pt; COLOR: #000000; FONT-FAMILY: "Arial", "Helvetica", Sans-serif; TEXT-DECORATION: none
}
.newTitle {
	FONT-WEIGHT: bold; FONT-SIZE: 11pt; COLOR: #000000; FONT-FAMILY: "Arial", "Helvetica", Sans-serif; TEXT-DECORATION: none
}
.newDate {
	MARGIN-TOP: 3pt; FONT-WEIGHT: normal; FONT-SIZE: 8pt; COLOR: #000000; FONT-FAMILY: "Arial", "Helvetica", Sans-serif; TEXT-DECORATION: none
}
.newHeading {
	FONT-WEIGHT: bold; FONT-SIZE: 9pt; COLOR: #000000; FONT-FAMILY: "Arial", "Helvetica", Sans-serif; TEXT-DECORATION: none
}
.bigBlack {
	FONT-WEIGHT: bold; FONT-SIZE: 14pt; COLOR: #000000; FONT-FAMILY: "Arial", "Helvetica", Sans-serif; TEXT-DECORATION: none
}
BODY {
	MARGINLEFT: 18px
}
TR {
	FONT-SIZE: 14px; COLOR: #000000; FONT-FAMILY: arial, helvetica, sans-serif; TEXT-DECORATION: none
}
TD {
	FONT-SIZE: 14px; COLOR: #000000; FONT-FAMILY: arial, helvetica, sans-serif; TEXT-DECORATION: none
}
P {
	FONT-SIZE: 14px; COLOR: #000000; FONT-FAMILY: arial, helvetica, sans-serif; TEXT-DECORATION: none
}
LAYER {
	FONT-SIZE: 14px; COLOR: #000000; FONT-FAMILY: arial, helvetica, sans-serif; TEXT-DECORATION: none
}
.newsItem {
	FONT-SIZE: 11px; COLOR: #000000; FONT-FAMILY: arial, helvetica, sans-serif; TEXT-DECORATION: none
}
A {
	COLOR: #0000cc; TEXT-DECORATION: none
}
UNKNOWN {
	COLOR: #6666cc; TEXT-DECORATION: none
}
.divider {
	BACKGROUND: #999999
}
.lightBG {
	BACKGROUND: #cccccc
}
.intTopnav {
	FONT-WEIGHT: bold; FONT-SIZE: 12px; COLOR: #666666
}
.intTopnav A {
	FONT-WEIGHT: bold; FONT-SIZE: 12px; COLOR: #000000; TEXT-DECORATION: none
}
.intTopnav A:hover {
	FONT-WEIGHT: bold; FONT-SIZE: 12px; COLOR: #666666; TEXT-DECORATION: underline
}
.leftNavTop {
	FONT-WEIGHT: bold; FONT-SIZE: 14px
}
.leftNavTop A {
	FONT-WEIGHT: bold; FONT-SIZE: 14px; COLOR: #0000cc; TEXT-DECORATION: underline
}
.leftNavTop A:hover {
	FONT-WEIGHT: bold; FONT-SIZE: 14px; COLOR: #6666cc
}
.leftNav {
	FONT-WEIGHT: bold; FONT-SIZE: 12px; COLOR: #666666
}
.leftNav A {
	FONT-WEIGHT: normal; FONT-SIZE: 12px; COLOR: #0000cc; TEXT-DECORATION: underline
}
.leftNav A:hover {
	FONT-WEIGHT: normal; FONT-SIZE: 12px; COLOR: #6666cc
}
.prodList {
	MARGIN-TOP: -6px; FONT-WEIGHT: bold; FONT-SIZE: 13px; COLOR: #666666; TEXT-DECORATION: none
}
.prodList A {
	COLOR: #666666; TEXT-DECORATION: none
}
.prodList A:hover {
	COLOR: #6666cc; TEXT-DECORATION: underline
}
.contentHeader {
	FONT-WEIGHT: bold; FONT-SIZE: 20px; FONT-FAMILY: arial, helvetica, sans-serif
}
.contentHeader A {
	COLOR: #000000; TEXT-DECORATION: underline
}
UNKNOWN {
	COLOR: #666666; TEXT-DECORATION: underline
}
.contentSubHeader {
	FONT-WEIGHT: bold; FONT-SIZE: 16px; MARGIN-BOTTOM: -8px; FONT-FAMILY: arial, helvetica, sans-serif
}
.subHeader {
	FONT-WEIGHT: bold; FONT-SIZE: 16px; FONT-FAMILY: arial, helvetica, sans-serif
}
.pressSubHead {
	FONT-WEIGHT: bold; COLOR: #003366
}
.bodyLight {
	COLOR: #666666
}
A.bodyNav1 {
	COLOR: #0000cc; TEXT-DECORATION: underline
}
A.bodyNav1:hover {
	COLOR: #6666cc; TEXT-DECORATION: underline
}
A.bodyNav2 {
	COLOR: #333333; TEXT-DECORATION: underline
}
A.bodyNav2:hover {
	COLOR: #003366; TEXT-DECORATION: underline
}
INPUT.TEXT {
	FONT-SIZE: 12px
}
.tableHeader {
	FONT-SIZE: 11px; COLOR: #333333
}
.footer {
	FONT-SIZE: 11px; MARGIN-BOTTOM: 0px; COLOR: #666666
}
.footer A {
	COLOR: #003366
}
.footer A:hover {
	COLOR: #006699
}
.Menu {
	VISIBILITY: hidden; POSITION: absolute; TOP: 93px
}
.Menu TD {
	FONT-SIZE: 11px; COLOR: #ffffff; FONT-FAMILY: arial, helvetica, sans-serif; TEXT-DECORATION: none
}
.Menu A {
	FONT-SIZE: 11px; COLOR: #ffffff; FONT-FAMILY: arial, helvetica, sans-serif; TEXT-DECORATION: none
}
.Menu A:hover {
	FONT-SIZE: 11px; COLOR: #cccccc; FONT-FAMILY: arial, helvetica, sans-serif; TEXT-DECORATION: none
}
.Trigger {
	LEFT: 0px; POSITION: relative; TOP: 0px
}
SELECT {
	FONT-SIZE: 10px; COLOR: #000000; FONT-FAMILY: arial, helvetica, sans-serif
}
INPUT.srchBox {
	FONT-SIZE: 12px; WIDTH: 116px
}
A.leftLink {
	COLOR: #0000cc; TEXT-DECORATION: none
}
A.leftLink:hover {
	COLOR: #6666cc; TEXT-DECORATION: none
}
A.leftLinkB {
	FONT-WEIGHT: bold; COLOR: #000000; TEXT-DECORATION: none
}
.topLinkB {
	FONT-WEIGHT: bold; FONT-SIZE: 12px; COLOR: #000000; TEXT-DECORATION: none
}
.topLinkBg {
	FONT-WEIGHT: bold; FONT-SIZE: 12px; COLOR: #bbbbbb; TEXT-DECORATION: none
}
A.topLinkB {
	FONT-WEIGHT: bold; FONT-SIZE: 12px; COLOR: #000000; TEXT-DECORATION: none
}
A.topLinkB:hover {
	FONT-WEIGHT: bold; FONT-SIZE: 12px; TEXT-DECORATION: none
}
.sourcecode {
	BORDER-RIGHT: silver outset; PADDING-RIGHT: 20px; BORDER-TOP: silver outset; PADDING-LEFT: 20px; PADDING-BOTTOM: 5px; MARGIN-LEFT: 20px; BORDER-LEFT: silver outset; LINE-HEIGHT: 1.2; MARGIN-RIGHT: 20px; PADDING-TOP: 5px; BORDER-BOTTOM: silver outset; FONT-FAMILY: "Courier", monospace; WHITE-SPACE: pre; BACKGROUND-COLOR: white
}
